@media (prefers-color-scheme: dark) {
    body {
        color: rgba(255,255,255,.5);
        background-color: #202020;
    }
    .page-title, .post-title, .post-title a, h1, h2, h3, h4, h5, h6 {
        color: rgb(202, 197, 190);
    }
    a {
        color: rgb(82, 165, 223);
    }
    .post-date {
        color: rgb(158, 150, 137);
    }
}